@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

input,
button,
textarea,
select {
  font-family: "Inter";
  font-size: inherit;
  color: #717171;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Inter";
  font-weight: 400;
  color: #717171;
  font-size: 1rem;
  background-color: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[class*=__container] {
  max-width: 73.5rem;
  margin: 0 auto;
  padding: 0 0.75rem;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper>main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

.menu {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.3125rem 3.125rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  display: inline-block;
  -webkit-transition: color .3s ease 0s;
  transition: color .3s ease 0s;
  line-height: 150%;
  color: #18191f;
}

.menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
}

.menu__button {
  white-space: nowrap;
  background: #f5f7fa;
  border-radius: 0.375rem;
  padding: 0.625rem 1.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 143%;
  text-align: center;
  color: #4caf4f;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.menu__button_green {
  background: #4caf4f;
  color: #fff;
}

.burger-menu {
  display: none;
}

.menu-open .burger-menu::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.4375rem;
}

.menu-open .burger-menu::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0.4375rem;
}

.menu-open .burger-menu span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header {
  position: relative;
  z-index: 6;
  padding: 1.375rem 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.header__logo {
  position: relative;
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.75rem;
          flex: 0 0 9.75rem;
}

.header__logo img {
  max-width: 100%;
}

.hero {
  background: #f5f7fa;
  padding: 6rem 0;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__content {
  max-width: 41.0625rem;
  width: 100%;
}

.hero__title {
  font-weight: 600;
  font-size: 4rem;
  line-height: 119%;
  color: #4d4d4d;
}

.hero__title span {
  color: #4caf4f;
}

.hero__title:not(:last-child) {
  margin-bottom: 1rem;
}

.hero__text {
  line-height: 150%;
}

.hero__text:not(:last-child) {
  margin-bottom: 2rem;
}

.hero__image {
  max-width: 24.375rem;
}

.hero__image img {
  max-width: 100%;
}

.hero__link {
  background: #4caf4f;
  border-radius: 0.25rem;
  padding: 0.875rem 2rem;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  color: #fff;
  display: inline-block;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.clients {
  padding-top: 6.25rem;
  padding-bottom: 3.125rem;
}

.clients__title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 122%;
  text-align: center;
  color: #4d4d4d;
}

.clients__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.clients__sub-title {
  line-height: 150%;
  text-align: center;
}

.clients__sub-title:not(:last-child) {
  margin-bottom: 2rem;
}

.clients__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.75rem;
          flex: 0 0 3.75rem;
  width: 3.75rem;
  height: 3.75rem;
}

.clients__item img {
  max-width: 100%;
}

.system {
  padding: 3.125rem 0;
}

.system__title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 122%;
  text-align: center;
  color: #4d4d4d;
  max-width: 34.375rem;
  margin-left: auto;
  margin-right: auto;
}

.system__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.system__sub-title {
  line-height: 150%;
  text-align: center;
}

.system__sub-title:not(:last-child) {
  margin-bottom: 2rem;
}

.system__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.system__item {
  -webkit-box-shadow: 0 0 2.1875rem 0 rgba(171,190,209,.2);
          box-shadow: 0 0 2.1875rem 0 rgba(171,190,209,.2);
  background: #fff;
  padding: 1.75rem;
  border-radius: 0.5rem;
  text-align: center;
}

.system__icon {
  max-width: 4.125rem;
  margin-left: auto;
  margin-right: auto;
}

.system__icon img {
  max-width: 100%;
}

.system__icon:not(:last-child) {
  margin-bottom: 0.75rem;
}

.system__caption {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 140%;
  color: #4d4d4d;
}

.system__caption:not(:last-child) {
  margin-bottom: 0.75rem;
}

.system__text {
  font-size: 0.875rem;
  line-height: 143%;
}

.unseen {
  padding-top: 3.125rem;
  padding-bottom: 6.25rem;
}

.unseen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.3125rem;
}

.unseen__image {
  max-width: 25.75rem;
}

.unseen__image img {
  max-width: 100%;
}

.unseen__content {
  max-width: 37.9375rem;
}

.unseen__title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 122%;
  color: #4d4d4d;
}

.unseen__title:not(:last-child) {
  margin-bottom: 1rem;
}

.unseen__text {
  font-size: 0.875rem;
  line-height: 143%;
}

.unseen__text:not(:last-child) {
  margin-bottom: 2rem;
}

.unseen__link {
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  color: #fff;
  padding: 0.875rem 2rem;
  background: #4caf4f;
  border-radius: 0.25rem;
  display: inline-block;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.advantages {
  background: #f5f7fa;
  padding: 3.75rem 0;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
}

.advantages__content {
  max-width: 25.625rem;
  width: 100%;
}

.advantages__title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 122%;
  color: #4d4d4d;
}

.advantages__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.advantages__title span {
  color: #4caf4f;
}

.advantages__sub-title {
  line-height: 150%;
  color: #18191f;
}

.advantages__items {
  max-width: 35.25rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem 1.5rem;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.advantages__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__value {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 129%;
  color: #4d4d4d;
}

.advantages__label {
  line-height: 150%;
}

.review {
  padding: 6.25rem 0;
}

.review__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.review__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.8576388889%;
          flex: 0 0 31.8576388889%;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  aspect-ratio: 367/220;
}

.review__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.review__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review__text {
  font-weight: 500;
  line-height: 150%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.review__text:not(:last-child) {
  margin-bottom: 0.625rem;
}

.review__title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 140%;
  color: #4caf4f;
}

.review__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.review__sub-title {
  line-height: 150%;
  color: #89939e;
}

.lessons {
  background: #f5f7fa;
  padding: 3.75rem 0;
  text-align: center;
}

.lessons__title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 122%;
  color: #263238;
}

.lessons__title:not(:last-child) {
  margin-bottom: 2rem;
}

.lessons__title span {
  color: #4caf4f;
}

.lessons__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  background: #4caf4f;
  border-radius: 0.25rem;
  padding: 0.875rem 2rem;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.lessons__link svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1rem;
          flex: 0 0 1rem;
  width: 1rem;
}

.footer {
  background: #263238;
  padding-top: 3.75rem;
  padding-bottom: 1.25rem;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}

.footer__body:not(:last-child) {
  margin-bottom: 5rem;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.9375rem;
          flex: 0 0 11.9375rem;
  width: 11.875rem;
}

.footer__logo img {
  max-width: 100%;
}

.footer__title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 140%;
  color: #fff;
}

.footer__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer__list {
  display: -ms-grid;
  display: grid;
  gap: 0.75rem;
}

.footer__link {
  font-size: 0.875rem;
  line-height: 143%;
  color: #f5f7fa;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.footer__block {
  max-width: 18.1875rem;
  width: 100%;
}

.footer__block .footer__title {
  text-align: right;
}

.footer__form {
  background: #3b464c;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer__input {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 143%;
  background-color: rgba(0,0,0,0);
  color: #fff;
  padding-left: 0.75rem;
}

.footer__input::-webkit-input-placeholder {
  color: #d9dbe1;
}

.footer__input::-moz-placeholder {
  color: #d9dbe1;
}

.footer__input:-ms-input-placeholder {
  color: #d9dbe1;
}

.footer__input::-ms-input-placeholder {
  color: #d9dbe1;
}

.footer__input::placeholder {
  color: #d9dbe1;
}

.footer__submit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.125rem;
          flex: 0 0 1.125rem;
  width: 1.125rem;
  height: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.8125rem 0.75rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__submit path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
}

.footer__item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2rem;
          flex: 0 0 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #3b464c;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.footer__copy {
  font-size: 0.875rem;
  line-height: 143%;
  color: #89939e;
  text-align: center;
}

@media (max-width: 73.5rem) {
  .menu__list {
    gap: 0.3125rem 2.1875rem;
  }
}

@media (max-width: 61.99875rem) {
  .menu {
    overflow: auto;
    position: fixed;
    right: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: top .5s ease,background-color .3s ease 0s;
    transition: top .5s ease,background-color .3s ease 0s;
  }

  .menu-open .menu {
    top: 0;
    background-color: rgba(0,0,0,.3);
    -webkit-transition: top .5s ease,background-color .3s ease .5s;
    transition: top .5s ease,background-color .3s ease .5s;
  }

  .menu__inner {
    background-color: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 4.375rem 0.75rem 2rem 0.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    gap: 1.5rem;
  }

  .menu__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .menu__button {
    width: 100%;
    padding: 1rem 1.25rem;
  }

  .burger-menu {
    display: block;
    width: 1.4375rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.4375rem;
            flex: 0 0 1.4375rem;
    height: 1rem;
    position: relative;
    z-index: 8;
  }

  .burger-menu::before,
  .burger-menu::after,
  .burger-menu span {
    display: block;
    position: absolute;
    height: 0.125rem;
    width: 100%;
    background-color: #263238;
    -webkit-transition: all .5s;
    transition: all .5s;
    border-radius: 1.25rem;
    left: 0;
  }

  .burger-menu::before {
    content: "";
    top: 0;
  }

  .burger-menu::after {
    content: "";
    bottom: 0;
  }

  .burger-menu span {
    top: 50%;
    left: auto;
    right: 0;
    width: 1rem;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .header::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    right: 0%;
    -webkit-transition: top .5s ease 0s;
    transition: top .5s ease 0s;
    background-color: #fff;
    z-index: 7;
    pointer-events: none;
  }

  .menu-open .header::before {
    top: 0;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.1875rem;
            flex: 0 0 7.1875rem;
  }

  .hero {
    padding: 3.75rem 0;
  }

  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .hero__content {
    max-width: 100%;
  }

  .hero__title {
    font-size: 2rem;
    line-height: 125%;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .hero__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .hero__image {
    padding: 0 1.0625rem;
  }

  .clients {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
  }

  .clients__title {
    font-size: 1.75rem;
    line-height: 129%;
  }

  .clients__title:not(:last-child) {
    margin-bottom: 0.875rem;
  }

  .system {
    padding: 2.5rem 0;
  }

  .system__title {
    font-size: 1.75rem;
    line-height: 129%;
    max-width: 100%;
  }

  .system__title:not(:last-child) {
    margin-bottom: 0.875rem;
  }

  .system__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .unseen {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  }

  .unseen__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }

  .unseen__content {
    max-width: 100%;
  }

  .unseen__title {
    font-size: 1.75rem;
  }

  .advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.625rem;
  }

  .advantages__content {
    max-width: 100%;
  }

  .advantages__title {
    font-size: 1.75rem;
  }

  .advantages__items {
    max-width: 100%;
  }

  .review {
    padding: 5rem 0;
  }

  .review__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .review__image {
    aspect-ratio: 367/210;
  }

  .review__text {
    font-size: 0.875rem;
  }

  .review__text:not(:last-child) {
    margin-bottom: 1rem;
  }

  .lessons__title {
    font-size: 1.75rem;
  }

  .footer__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 1.875rem;
  }

  .footer__body:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .footer__logo {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .footer__title {
    font-size: 1rem;
  }

  .footer__title:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .footer__block {
    max-width: 100%;
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .footer__block .footer__title {
    text-align: left;
  }

  .footer__form:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .footer__social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 47.99875rem) {
  .hero__link {
    width: 100%;
  }

  .clients__body {
    gap: 1rem 1.625rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 17.5rem;
    padding: 0 1.46875rem;
    margin: 0 auto;
    justify-items: center;
  }

  .unseen__link {
    width: 100%;
  }

  .advantages__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .lessons__link {
    width: 100%;
  }
}

@media (max-width: 29.99875rem) {
  .clients__sub-title {
    max-width: 18.75rem;
    margin-left: auto;
    margin-right: auto;
  }

  .review__image {
    aspect-ratio: 351/220;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #4caf4f;
  }

  .menu__button:hover {
    background-color: #e8f5e9;
  }

  .menu__button_green:hover {
    background-color: #388e3b;
  }

  .hero__link:hover {
    background-color: #388e3b;
  }

  .unseen__link:hover {
    background-color: #388e3b;
  }

  .lessons__link:hover {
    background-color: #388e3b;
  }

  .footer__link:hover {
    color: #388e3b;
  }

  .footer__submit:hover path {
    fill: #4caf4f;
  }

  .footer__item-social:hover {
    background-color: #4caf4f;
  }
}